.wrapper {
    width: 100%;
    background: #ffffff;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 160px;
}